/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.border-bottom{
	border-bottom: solid 0.9px 5px #00838f;
}
.contact-square{
	background-color: #e0f2f1;
	border: 1px solid black;
	border-radius: 8px;
	margin-bottom: 2em; 
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
	transition:2s ease; 


}
.contact-square:hover{
	background-color:#b2dfdb !important;
	transition: 2s ease;
	-webkit-transition: 2s ease;
}

/* shadows */
.shadow-box{
	box-shadow:0px 1px 9px #888888;
}
.shadow-box-bottom{
	box-shadow:0px 1px 1px #888888;
}

/* Extending palette */
.third-text-color{color: #f9a825}
.third-color{background-color: #E1A438}

/*Image sizes*/
.detail-image{
	height: 32rem;
	margin-top: 2em; 
	width: : 32rem;
}

/*Text*/
.justify{
	text-align: justify;
}
.text-shadow{
	text-shadow: 1px 0.5px #757575;
}